<p class="fs-1 text-center fw-bold">Add song</p>
<form method="POST" asp-action="AddSong" class="text-center">
    <p>
        <label for="title">Title</label><br />
        <input type="text" id="title" name="title" placeholder="Title" required />
    </p>
    <p>
        <label for="artist">Artist</label><br />
        <input type="text" id="artist" name="artist" placeholder="Artist" required />
    </p>
    <input type="submit" value="Submit" />
</form>
