@model List<SongViewModel>
@if (Model.Any())
{

}
else
{
	foreach (SongViewModel song in Model)
	{
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">@song.Title</h5>
				<p class="card-text">Artist: @song. Genre:</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	}
}